* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {

    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto;
}

.back {
    padding: 30px ;
    background-color: black;
}

.menu{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1000;
}

.logo {
    font-size: 15spx;
    color: white;
    font-weight: 800;
    text-transform: uppercase;
    text-decoration: none;
}

.menu .nabvar ul li {
    position: relative;
    float: left;
}

.menu .nabvar ul li a {
    margin-top: 5px;
    font-size: 15px;
    padding: 15px;
    color: white;
    text-decoration: none;
    display: block;
}

.menu .nabvar ul li a:hover {
    color: yellow
}

.video{
    height: 530px;
    width: 1340px;
}


______________________________

.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.wrapper{
    margin: 20px auto;
    width: 90%;
    
}

.img{
    max-width: 300px;
    float: left;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 50px;
}

.tex-box{
    color: white;
    margin: 0px auto 80px;
}

.tex-box h2{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.tex-box p{
    font-size: 15px;
}

.wrapper-one{
    display: flex;
    margin: 0 auto;
    width: 90%;
   
    
}

.tex-box-1{
    margin: 0px auto 80px;
    color: white;
    float: right;
    
}

.wrapper-two{
    margin: 10px auto;
    width: 90%;
    
}

.img-2{
    max-width: 500px;
    float: right;
    border: 3px solid white;
    border-radius: 50px;
    margin-left: 50px;
    width: 290px;
}

.tex-box-2{
    color: white;
    margin: 0px auto 50px;
}

.tex-box-2 h2{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.tex-box-2 p{
    font-size: 15px;
}

.wrapper-3{
    margin: 10px auto;
    width: 90%;
    
}

.img-3{
    max-width: 500px;
    float: left;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 50px;
    width: 290px;
}

.tex-box-3{
    color: white;
    margin: 0px auto 80px;
}

.tex-box-3 h2{
    font-size: 30px;
    margin: 0px auto 50px;
    text-align: center;
}

.tex-box-3 p{
    font-size: 15px;
}