* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

.container{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(0, 0, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin: 20px auto;
}
---------------------

.tex-box p{
    font-size: 15px;
}

.tex-box{
    color: white;
    margin: 0px auto 10px;
}
.wrapper{
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 80px auto;
}

.img{
    max-width: 300px;
    float: left;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 50px;
}
---------------------------------------

.tex-box h2{
    font-size: 30px;
    margin: 20px;
    text-align: center;
}

.tex-box-2{
    color: white;
    margin: 0px auto 10px;
}

.wrapper-one{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 5px auto;
}

.img-1{
    max-width: 300px;
    float: left;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 50px;
}
-----------------------------------
.tex-box-3 p{
    margin: 0px auto 10px;
    color: white; 
}

.tex-box-3{
    margin: 0px auto 20px;
    color: white; 
}

.tex-box-3 h2{
    font-size: 30px;
    margin: 20px;
    text-align: center;   
    color: white;
}

.wrapper-two{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 10px auto;
}

.img-2{
    max-width: 300px;
    float: left;
    border: 3px solid white;
    border-radius: 50px;
    margin-right: 50px;
}